body
  background-color #f9f9f9
  overflow-x: hidden
  font-family: 'Roboto', sans-serif

#promo
  margin-top: 60px
  background-color: white

.promo
  margin-top: 5px

.appBar
  width: 100%
  display: flex
  justify-content: space-around

.col3
  width: 50%
  flex-grow: 1
  margin-right: auto

.col4
  width: 40%
  flex-grow:  1
  margin-left: 200px
  margin-right: 0


.langganan
  margin-bottom: 60px

.kategori
  list-style-type: none
  padding: 2px
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: 1fr

.ContohMenu
  color: #851480
  margin-top: 10px
  padding: 20px
  background-color: white
  margin-bottom: 20px

.copyright
  text-align: center

.tentangkami
  width: 100%
  height: 100%
  padding: 10px
  padding-top: 30px
  padding-bottom: 20px
  display: block
  align-items: center
  justify-content: space-between
  text-align: center
  background: white
  color: #851480

.Footer 
  padding: 10px
  display: block
  background-color: #131313
  height: 100%
  margin-bottom: 60px
  color: white

.whyus
  height: 100%
  display: block
  background-color: white
  align-items: center
  padding: 20px
  justify-content: space-between
  margin-bottom: 20px

.menuItem
  width: 40px
  height 100%

.item1
  color: #851480

.col
  flex: 1
  background-color: white
  height: 25%
  margin: 10px

.item1
  display: block
  flex: 1
  text-align: center
  justify-content: center
  align-items: center

.containerGrid
  margin-top: 2rem
  width: 100%
  height: 30%

.flex-box
  display: block
  height: 100%
  padding: 5px
  width: 100%
  background: rgb(255,205,0)
  background: linear-gradient(146deg, rgba(255,205,0,1) 0%, rgba(255,72,0,1) 100%)
  justify-content: space-between

.cart
  margin-right: 30px

.col2
  color: white
  flex 1
  margin: 10px
  text-align: center
  justify-content: center
  align-items: center
  
.item
  display: block
  background-color: white
  place-items center center
  text-align: center
  align-self: center

a
  color: #851480
  text-decoration: none

.gridItem
  padding: 20px
  background-color white
  display grid
  grid-template-columns: repeat(3, 100px)
  grid-template-rows: repeat(2, 100px)
  list-style none
  place-items stretch stretch
  justify-content: center
  